@(accounts: Seq[Account], form: Form[Account], postUrl: Call)(implicit request: MessagesRequestHeader)

@import models.Account

@main("Accounts") {

    <h1>Accounts</h1>

    <ul>
        @for(account <- accounts) {
        <li>
            <table>
                <tr>
                    <td>@account.name</td>
                    <td>(@account.accountType.name)</td>
                </tr>
                <tr>
                    <td colspan="2">Bearer Token: @account.bearerToken</td>
                </tr>
                <tr>
                    <td>
                        @helper.form(routes.AccountController.removeAccount(account.name)) {
                            @helper.CSRF.formField
                            <button>Remove account</button>
                        }
                    </td>
                    <td>
                        @if(account.currentActiveCollect.isEmpty){
                            <a href="#update_account_form_@{account.name}" id="update_account_form_@{account.name}_pop">Update account</a>
                        }else{
                            In use for the collect @{account.currentActiveCollect.get.collect.name}.
                        }
                    </td>
                </tr>
            </table>

            @if(account.currentActiveCollect.isEmpty){
                <!-- popup update account -->
                <a href="#x" class="overlay" id="update_account_form_@{account.name}"></a>
                <div class="popup">
                    <h2>Update account @account.name</h2>
                    <div>
                        @helper.form(controllers.routes.AccountController.updateAccount(account.name)) {
                            @helper.CSRF.formField
                            <input id="Name" name="Name" type="hidden" value="@{account.name}">
                            @helper.select(form("Account type").copy(value = Some(account.accountType.name)), Seq(("Essential", "Essential"), ("Elevated", "Elevated"), ("Academic", "Academic")))
                            @helper.inputText(form("Bearer Token").copy(value = Some(account.bearerToken)))
                            <input type="submit" value="Update account">
                        }
                        <a class="close" href="#close"></a>
                    </div>
                </div>
            }

        </li>
        }
    </ul>

    <h2>Add an account</h2>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("Name"))

        @helper.select(form("Account type"), Seq(("Essential", "Essential"), ("Elevated", "Elevated"), ("Academic", "Academic")))

        @helper.inputText(form("Bearer Token"))

        <button>Add account</button>
    }
}