@()

@main("Garuda") {
    <h1>Garuda</h1>

    <p>
        Garuda is a tweet collector tool using the Twitter API v2. It aims at being lightweight,
        while providing basic functionalities to set up a collect.
    </p>

    <p>
        To create and get your API keys, please visit the <a href="https://developer.twitter.com/en">Twitter developer website</a>.
        To learn how to create rules to collect tweets, visit <a href="https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/integrate/build-a-rule">this page</a>.
    </p>
}
